extends layout

block content
  h1= title
  if title == 'LED Audio Visualization: Demo' || title == 'LED Audio Visualization with ESP8266'
    a(href='/') Go back
    block partial
  else
    div
      h2
        a(href="/demo") View Demo
      h2
        a(href='/practice') Practice
