doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="css/style.css")
    title= title
  body
    block content
  script(rel="text/javascript" src="vendor/p5.min.js")
  script(rel="text/javascript" src="vendor/p5.dom.min.js")
  script(rel="text/javascript" src="vendor/p5.sound.min.js")
  script(rel="text/javascript" src="js/app.js")
    